body {
    margin: 0;
    padding: 0;
}


header, footer, main, nav{
    width: 50%;
    border: solid 1px black;
    margin: auto;
    margin-bottom: 10px;
    min-height: 50px;
    padding: 10px;
}

header {
    height: 150px;
}

main {
    min-height: 400px;
}