.container {
    margin: auto;
    width: 50%;
    border: solid 1px;
    padding: 10px;
}


.error {
    color: red;
    font-weight: bolder;
    margin: 10px;
}

.form th, td {
    border: solid 1px black;
    padding: 10px;
}