.main{
    border: solid 1px black;
    display: flex;
    width: 70%;
    margin: auto;
}

.left{
    min-height: 300px;
    border-right: solid 1px black;
    width: 25%;
}

.right{
    width: 75%;
    background-color: antiquewhite;
    min-height: 300px;
}