*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

header, footer, main{
    width: 70%;
    border: solid 1px black;
    padding: 5px;
    margin: auto;
    min-height: 30px;
    border: none;
}

header {
    height: 100px;
    background-color: rgb(200, 5, 200);
}

main{
    min-height: 400px;
    display: flex;
}

main nav{
    border: solid 3px black;
    width: 20%;
}

main .content{
    width: 80%;
    background-color: white;
}

footer{
    background-color: rgb(200, 5, 200);
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    border-bottom: solid 1px black;
    border: none;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: gray;
    font-weight: bolder;
    text-align: center;
}

nav ul li a:hover{
    font-weight: bolder;
    color: rgb(200, 5, 200);
    transform: scale(1.1);
}

.content{
    padding: 10px;
    border-radius: 3px;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

p{
    font-weight: bolder;
}
