body {
    background-color: #111;
}

#myClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: green;
    font-size: 65px;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
}

#stop {
    position: absolute;
    top: 50%;
    left: 40%;
}

#GetTimer {
    font-size: 65px;
    position: absolute;
    top: 40%;
    left: 45%;
    color: green;
}