.table_3 {
    position: relative;
    left: 700px;
    bottom: 500px;
}

.header_3 {
    position: relative;
    left: 650px;
    bottom: 400px;
}

.x {
    position: relative;
    left: 500px;
    bottom: 300px;
}
.header_4 {
    position: relative;
    left: 500px;
    bottom: 300px;
}