*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

header, footer, main{
    width: 95%;
    border: solid 1px black;
    padding: 5px;
    margin: auto;
    min-height: 30px;
    border: none;
}

header {
    height: 100px;
    background-color: rgb(13, 153, 208);
}

main{
    min-height: 400px;
    display: flex;
}

main nav{
    border: solid 3px black;
    width: 100%;
}


footer{
    background-color: rgb(13, 153, 208);
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    border-bottom: solid 1px black;
    border: none;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: gray;
    font-weight: bolder;
    /* text-align: center; */
}


.content{
    padding: 10px;
    border-radius: 3px;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: center;
}

nav th {
    font-size: 25px;
}

nav tr:hover {
    background-color: gainsboro;
}

nav a {
    color: rgb(9, 126, 162);
    margin-inline: 70px;
}

nav a:hover {
    cursor: pointer;
}

p{
    font-size: 45px;
    color: white;
}
.your-class-name {
   position: absolute; right: 70px; top: 20px;
}
.admin-logout {
    position: absolute; right: 70px; top: 80px;
}


