.home {
    width: 50%;
    margin: auto;
    border: solid 3px black;
    padding: 20px;
}

.home table {
    width: 100%;
    border-collapse: collapse;
}

.home table td, th {
    border: solid 1px silver;
    padding: 4px;
}

.student-info {
    margin-bottom: 10px;
}

.student-info input {
    padding: 5px;
}

.send {
    margin-top: 10px;
}