#start {
    position: absolute;
    top: 50%;
    left: 50%;
}

#stop {
    position: absolute;
    top: 50%;
    left: 40%;
}

#countLabel {
    font-size: 65px;
    position: absolute;
    top: 40%;
    left: 45%;
    color: green;
}